@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  /* overflow: hidden; */
}

* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  /* Tailwind config or CSS file */
.font-logo {
  font-family: 'Chewy', cursive;
}
html {
  scroll-behavior: smooth;
}
